/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  color: #ffffff;
  font-family: Sans-serif;
  background: #282a36;
}
.clearness-dark {
  -webkit-font-smoothing: antialiased;
}
.clearness-dark a {
  color: #e03300;
}
.clearness-dark a:hover {
  color: #ff4a14;
}
.clearness-dark h2 {
  border-bottom: 1px solid #21232d;
}
.clearness-dark h6 {
  color: #a4a296;
}
.clearness-dark hr {
  border: 1px solid #21232d;
}
.clearness-dark blockquote {
  border-left: 4px solid #121319;
  padding: 0 15px;
  font-style: italic;
}
.clearness-dark .block-word {
  border: 1px solid #45495e;
  background-color: #20222b;
}
.clearness-dark pre {
  border: 1px solid #45495e;
  background-color: #20222b;
}
.clearness-dark code {
  border: 1px solid #45495e;
  background-color: #20222b;
  color: #ff4a14;
}
.clearness-dark table {
  background-color: #303241;
}
.clearness-dark table tr th,
.clearness-dark table tr td {
  border: 1px solid #4b4e65;
}
.clearness-dark table tr:nth-child(2n) {
  background-color: #373a4b;
}
